<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="{{ site.baseurl }}/" class="logo">introspect</a>
		<nav id="nav">
			<a href="{{ site.baseurl }}/">Home</a>
			<a href="{{ site.baseurl }}/generic/">Generic</a>
			<a href="{{ site.baseurl }}/elements/">Elements</a>
		</nav>
	</div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>