<!-- Three -->
<section id="three">
	<div class="inner">
		{% for service in site.services %}
		<article>
			<div class="content">
				<span class="icon {{ service.icon }}"></span>
				<header>
					<h3><a href="{{ site.baseurl }}{{ service.url }}">{{ service.title }}</a></h3>
				</header>
				<p>{{ service.short_description }}</p>
				<ul class="actions">
					<li><a href="{{ site.baseurl }}{{ service.url }}" class="button alt">Learn More</a></li>
				</ul>
			</div>
		</article>
		{% endfor %}
		</div>
</section>