---
layout: default
---
<!-- Main -->
<section id="main" >
	<div class="inner">
		<header class="major special">
			<h1>{{ page.title }}</h1>
			{% if page.short_description %}
				<p>{{ page.short_description }}</p>
			{% endif %}
		</header>
		{% if page.image_path %}
			<a href="#" class="image fit"><img src="{{ site.baseurl }}/{{ page.image_path }}" alt="" /></a>
		{% endif %}
	{{ content }}
	</div>
</section>
